.hero-unit {
  color: #E84F3D;
  text-align: center;
  border-bottom: 3px solid #E84F3D;
}
form {
  padding-top: 50px;
}

body {
  background-color: #ededed;
  margin-top: 150px;
  font-family: "Helvetica", helvetica, sans-serif;
}

#output {
  display: none;
}

.form-group {
  text-align: center;
}

p {
  font-weight: bold;
  font-size: 1.5em;
}

.coupon {
	width: 250px;
	padding: 10px;
	text-align: center;
	border: 3px dashed #ccc;
  color: #E84F3D;
}

#headwrapper {
/*position: fixed;*/
width: 100%;
top: 30px;
height: 90px;
background-image: url("https://www.hungryhowies.com/sites/default/files/images/menu-items/thumbnails/build-pizza.png");
}

#bottomwrapper {
width: 100%;
top: 30px;
height: 90px;
background-image: url("https://www.hungryhowies.com/sites/default/files/images/menu-items/thumbnails/build-pizza.png");
}
